<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @medicine.brand_name %>
</p>

<p>
  <strong>Generic name:</strong>
  <%= @medicine.generic_name %>
</p>

<p>
  <strong>Dosage form:</strong>
  <%= @medicine.dosage_form %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @medicine.cost %>
</p>

<%= link_to 'Edit', edit_medicine_path(@medicine) %> |
<%= link_to 'Back', medicines_path %>
