%p#notice= notice
%p
  %strong Brand name:
  = @medicine.brand_name.titleize
%p
  %strong Generic name:
  = @medicine.generic_name.titleize
%p
  %strong Dosage form:
  = @medicine.dosage_form
%p
  %strong Cost:
  = number_to_currency(@medicine.cost, unit: "₱ ", separator: ".", delimiter: ",")
-orders = Medicine.joins(:prescribed_medicines).where("prescribed_medicines.medicine_id" => @medicine.id).sum("prescribed_medicines.quantity")
%p
  %strong Orders:
  = orders.to_s 


= link_to 'Edit', edit_medicine_path(@medicine)
-if orders == 0
  = link_to 'Delete Medicine from Record', @medicine, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Back', medicines_path
