= form_with(model: @prescription, html: { class: "main_form" }) do |form|
  - if prescription.errors.any?
    #error_explanation
      %h2
        = pluralize(prescription.errors.count, "error")
        prohibited this prescription from being saved:
      %ul
        - prescription.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :date_prescribed
    = form.date_select :date_prescribed
  .field
    = form.label :doctor_id
    = form.collection_select :doctor_id, Doctor.order(:specialization), :id, :descriptive_name
  
  %table
    %thead
      %tr
        %th Medicine
        %th Quantity
        %th Action
        -# %th{:colspan => "3"}
    %tbody.fields  
      = form.fields_for :prescribed_medicines do |builder|
        = render 'prescribed_medicine', f: builder

  .actions
    %button.btn-secondary= link_to_add_row('New Entry', form, :prescribed_medicines, class: 'btn')
    
  .actions
    %button.btn-primary= form.submit "Save"
