%p#notice= notice
%h1 Prescriptions
%div{:class => "my-5 flex-col"}
  %div{:class => "overflow-x-auto shadow-md sm:rounded-lg" }
    %div{:class => "inline-block min-w-full align-middle"}
      %div{:class => "overflow-hidden"}
        %table
          %thead
            %tr
              %th Date prescribed
              %th Doctor
              %th{:colspan => "3"}
          %tbody
            - @prescriptions.each do |prescription|
              %tr
                %td= prescription.date_prescribed
                %td= Doctor.find(prescription.doctor_id).full_name
                %td= link_to 'Show', prescription
                %td= link_to 'Edit', edit_prescription_path(prescription)
                %td= link_to 'Destroy', prescription, method: :delete, data: { confirm: 'Are you sure?' }
        %br/
= link_to 'New Prescription', new_prescription_path
