%p#notice= notice
%h1 Prescriptions
.btn-new
  = link_to 'New Prescription', new_prescription_path
%div{:class => "my-5 flex-col"}
  %div{:class => "overflow-x-auto shadow-md sm:rounded-lg" }
    %div{:class => "inline-block min-w-full align-middle"}
      %div{:class => "overflow-hidden"}
        %table
          %thead
            %tr
              %th= sort_link(@q, :date_prescribed, "Date prescribed")
              %th= sort_link(@q, :doctor_id, "Doctor")
              %th Items
              %th Amount
              %th{:colspan => "3"}
          %tbody
            - @prescriptions.each do |prescription|
              %tr.table__row
                %td= prescription.date_prescribed
                %td= Doctor.find(prescription.doctor_id).full_name
                %td= PrescribedMedicine.where(prescription_id: prescription.id).count
                - total_price = Medicine.joins(:prescribed_medicines).where("prescribed_medicines.prescription_id" => prescription.id).sum("medicines.cost * prescribed_medicines.quantity") 
                %td= number_to_currency(total_price, unit: "₱ ", separator: ".", delimiter: ",").to_s
                %td= link_to 'View', prescription
                %td= link_to 'Edit', edit_prescription_path(prescription)
                %td= link_to 'Delete', prescription, method: :delete, data: { confirm: 'Are you sure?' }


