%h1 Prescription
%p#notice= notice
.w-full.flex.justify-center
  .prescription 
    .prescription_head
      -doctor = Doctor.find(@prescription.doctor_id)
      %h4= doctor.name_title
      %p.leading-tight.text-lg.py-0.italic= doctor.specialization.upcase
      %p.leading-tight.text-lg.py-0= doctor.clinic_name
      %p.leading-tight.text-lg.py-0= doctor.clinic_address

    .prescription_body
      %p
        %strong Date prescribed:
        = @prescription.date_prescribed.strftime("%B %d,  %Y") 
      %p
        %strong Total Items:
        = PrescribedMedicine.where(prescription_id: @prescription.id).count
      %p
        %strong Total Quantity:
        = PrescribedMedicine.where(prescription_id: @prescription.id).sum(:quantity).to_s
      - total_price = Medicine.joins(:prescribed_medicines).where("prescribed_medicines.prescription_id" => @prescription.id).sum("medicines.cost * prescribed_medicines.quantity") 
      %p
        %strong Total Amount:
        = number_to_currency(total_price, unit: "₱ ", separator: ".", delimiter: ",").to_s
      - @prescribed_medicines.each do |prescribed_medicine|
        - medicine = Medicine.find(prescribed_medicine.medicine_id)
        .prescription_item
          .prescription_details
            %p
              %strong Generic Name:
              = medicine.generic_name.titleize
            %p
              %strong Brand Name:
              = medicine.brand_name.titleize
            %p
              %strong Quantity:
              = prescribed_medicine.quantity
            %p
              %strong Unit Cost:
              = number_to_currency(medicine.cost, unit: "₱ ", separator: ".", delimiter: ",")
            %p
              %strong Total:
              = number_to_currency((prescribed_medicine.total_amount), unit: "₱ ", separator: ".", delimiter: ",")
          .note
            %td.note= prescribed_medicine.note
      %p
        %strong ***NOTHING FOLLOWS***



= link_to 'New Prescription', new_prescription_path
= link_to 'Edit', edit_prescription_path(@prescription)
= link_to 'Back', prescriptions_path
