<p id="notice"><%= notice %></p>

<p>
  <strong>Date prescribed:</strong>
  <%= @prescription.date_prescribed %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @prescription.doctor_id %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
