= form_with(model: [@prescription, @prescribed_medicine]) do |form|
  - if prescribed_medicine.errors.any?
    #error_explanation
      %h2
        = pluralize(prescribed_medicine.errors.count, "error")
        prohibited this prescribed_medicine from being saved:
      %ul
        - prescribed_medicine.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :brand_name
    = form.text_field :brand_name
  .field
    = form.label :generic_name
    = form.text_field :generic_name
  .field
    = form.label :quantity
    = form.number_field :quantity
  .field
    = form.label :prescription_id
    = form.text_field :prescription_id
  .field
    = form.label :medicine_id
    = form.text_field :medicine_id
  .actions
    = form.submit
