<%= form_with(model: prescription_note) do |form| %>
  <% if prescription_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prescription_note.errors.count, "error") %> prohibited this prescription_note from being saved:</h2>

      <ul>
        <% prescription_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :prescription_id %>
    <%= form.text_field :prescription_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
