%p#notice= notice
%h1 Prescription Notes
%table
  %thead
    %tr
      %th Content
      %th Prescription
      %th{:colspan => "3"}
  %tbody
    - @prescription_notes.each do |prescription_note|
      %tr
        %td= prescription_note.content
        %td= prescription_note.prescription_id
        %td= link_to 'Show', prescription_note
        %td= link_to 'Edit', edit_prescription_note_path(prescription_note)
        %td= link_to 'Destroy', prescription_note, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Prescription Note', new_prescription_note_path
