<p id="notice"><%= notice %></p>

<h1>Prescription Notes</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Prescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prescription_notes.each do |prescription_note| %>
      <tr>
        <td><%= prescription_note.content %></td>
        <td><%= prescription_note.prescription_id %></td>
        <td><%= link_to 'Show', prescription_note %></td>
        <td><%= link_to 'Edit', edit_prescription_note_path(prescription_note) %></td>
        <td><%= link_to 'Destroy', prescription_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription Note', new_prescription_note_path %>
