%p#notice= notice
%p
  %strong Content:
  = @prescription_note.content
%p
  %strong Prescription:
  = @prescription_note.prescription_id
= link_to 'Edit', edit_prescription_note_path(@prescription_note)
|
= link_to 'Back', prescription_notes_path
