<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @doctor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @doctor.last_name %>
</p>

<p>
  <strong>License number:</strong>
  <%= @doctor.license_number %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @doctor.specialization %>
</p>

<p>
  <strong>Clinic name:</strong>
  <%= @doctor.clinic_name %>
</p>

<p>
  <strong>Clinic address:</strong>
  <%= @doctor.clinic_address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @doctor.contact %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
